<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955053035801-om6t6k44i3c8rq88dodv09kkjaa2khrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955053035801-om6t6k44i3c8rq88dodv09kkjaa2khrf</string>
	<key>API_KEY</key>
	<string>AIzaSyA93yAqaXnpqeO0uJnznulOpEWEe5pD6dE</string>
	<key>GCM_SENDER_ID</key>
	<string>955053035801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koanba.kipaskipas.mobile.staging</string>
	<key>PROJECT_ID</key>
	<string>kipaskipas-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>kipaskipas-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955053035801:ios:0e00ef77af4eb536a4b588</string>
</dict>
</plist>