<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALIBABA_BUCKET_NAME</key>
	<string>${ALIBABA_BUCKET_NAME}</string>
	<key>ALIBABA_ENDPOINT_INTERNAL</key>
	<string>${ALIBABA_ENDPOINT_INTERNAL}</string>
	<key>ALIBABA_ENDPOINT_PUBLIC</key>
	<string>${ALIBABA_ENDPOINT_PUBLIC}</string>
	<key>ALIBABA_STS_ENDPOINT</key>
	<string>${ALIBABA_STS_ENDPOINT}</string>
	<key>ALIBABA_STS_PASS</key>
	<string>${ALIBABA_STS_PASS}</string>
	<key>ALIBABA_STS_USER</key>
	<string>${ALIBABA_STS_USER}</string>
	<key>API_BASE_URL</key>
	<string>${API_BASE_URL}</string>
	<key>API_TOOLS_BASE_URL</key>
	<string>${API_TOOLS_BASE_URL}</string>
	<key>API_UPLOAD_URL</key>
	<string>${API_UPLOAD_URL}</string>
	<key>API_WEB_URL</key>
	<string>${API_WEB_URL}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.koanba.kipaskipas.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kipasapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.koanba.kipaskipas.mobile.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>devkipasapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CURRENT_SCHEME_NAME</key>
	<string>$(CURRENT_SCHEME_NAME)</string>
	<key>GMAPS_KEY</key>
	<string>${GMAPS_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>myqcloud.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Kipaskipas need your permission to access your camera for take photos, recording videos, and scan product QR codes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>KipasKipas needs your permission to access your location used for direction.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>KipasKipas needs your permission to access your location used for direction.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>KipasKipas needs your permission to access your location used for direction.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Kipaskipas need your permission to access your microphone for take photos, recording videos, and scan product QR codes</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kipaskipas need access to your gallery for use photos, videos, and auto-scan product QR codes</string>
	<key>ONE_SIGNAL_BASE_URL</key>
	<string>${ONE_SIGNAL_BASE_URL}</string>
	<key>ONE_SIGNAL_ID</key>
	<string>$(ONE_SIGNAL_ID)</string>
	<key>ONE_SIGNAL_REST_API_KEY</key>
	<string>${ONE_SIGNAL_REST_API_KEY}</string>
	<key>OneSignal_app_groups_key</key>
	<string>$(ONE_SIGNAL_APP_GROUPS_KEY)</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SCHEMA_APPICON</key>
	<string>${SCHEMA_APPICON}</string>
	<key>SENDBIRD_APP_ID</key>
	<string>${SENDBIRD_APP_ID}</string>
	<key>SENTRY_ENVIRONMENT</key>
	<string>${SENTRY_ENVIRONMENT}</string>
	<key>TENCENT_COS_BUCKET_NAME</key>
	<string>${TENCENT_COS_BUCKET_NAME}</string>
	<key>TENCENT_COS_ENDPOINT</key>
	<string>${TENCENT_COS_ENDPOINT}</string>
	<key>TENCENT_COS_REGION</key>
	<string>${TENCENT_COS_REGION}</string>
	<key>TENCENT_COS_SECRET_ID</key>
	<string>${TENCENT_COS_SECRET_ID}</string>
	<key>TENCENT_COS_SECRET_KEY</key>
	<string>${TENCENT_COS_SECRET_KEY}</string>
	<key>TENCENT_VOD_SECRET_ID</key>
	<string>${TENCENT_VOD_SECRET_ID}</string>
	<key>TENCENT_VOD_SECRET_KEY</key>
	<string>${TENCENT_VOD_SECRET_KEY}</string>
	<key>TENCENT_VOD_SIGNATURE_ENDPOINT</key>
	<string>${TENCENT_VOD_SIGNATURE_ENDPOINT}</string>
	<key>TENCENT_VOD_TRANSCODE_ENDPOINT</key>
	<string>${TENCENT_VOD_TRANSCODE_ENDPOINT}</string>
	<key>TENCENT_VOD_TRANSCODE_ID</key>
	<string>${TENCENT_VOD_TRANSCODE_ID}</string>
	<key>TENCENT_VOD_TRANSCODE_PASS</key>
	<string>${TENCENT_VOD_TRANSCODE_PASS}</string>
	<key>TENCENT_VOD_TRANSCODE_USER</key>
	<string>${TENCENT_VOD_TRANSCODE_USER}</string>
	<key>TRTC_SDKAPPID</key>
	<string>${TRTC_SDKAPPID}</string>
	<key>TRTC_SECRET_KEY</key>
	<string>${TRTC_SECRET_KEY}</string>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoBlack.ttf</string>
		<string>RobotoRegular.ttf</string>
		<string>RobotoMedium.ttf</string>
		<string>RobotoLight.ttf</string>
		<string>RobotoBold.ttf</string>
		<string>RobotoBlack.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>KipasLaunch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>${BRANCH_APP_DOMAIN}</string>
	<key>branch_key</key>
	<string>$(BRANCH_KEY}</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>kipaskipas.test-app.link</string>
		<string>test-web.kipaskipas.com</string>
		<string>web.kipaskipas.com</string>
		<string>kipaskipas.app.link</string>
	</array>
</dict>
</plist>
