<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:stg-web.kipaskipas.com</string>
		<string>applinks:web.kipaskipas.com</string>
		<string>applinks:stg-news.kipaskipas.com</string>
		<string>applinks:news.kipaskipas.com</string>
		<string>applinks:test-news.kipaskipas.com</string>
		<string>applinks:kipaskipas.app.link</string>
		<string>applinks:kipaskipas-alternate.app.link</string>
		<string>applinks:test-web.kipaskipas.com</string>
        <string>applinks:kipaskipas.test-app.link</string>
	</array>
	<key>com.apple.developer.networking.multipath</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.koanba.kipaskipas.mobile.KipasKipasShareExtension</string>
		<string>group.com.koanba.kipaskipas.mobile.staging.KipasKipasShareExtension</string>
		<string>group.com.koanba.kipaskipas.mobile.dev.KipasKipasShareExtension</string>
	</array>
</dict>
</plist>
